<main role="main" class="container">

  <section class="jumbotron text-center">
    <h1 class="">Lets Search Movies</h1>

    <div class="form-group">
      <input type="text" class="form-control" (keyup)="searchMovies($event)">
    </div>

    <div class="text-center" *ngIf="isFetching">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </section>

  <div class="alert alert-info text-center" *ngIf="!isFetching && torrentRes && torrentRes.movie_count == 0"> No
    Data Found </div>

  <div class="album pb-5" *ngIf="!isFetching && torrentRes && torrentRes.movie_count > 0">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let movie of movies">
          <div class="card mb-4 shadow-sm">
            <img [src]="movie.medium_cover_image" [alt]="movie.title_english" class="card-img-top img-responsive">
            <div class="card-body">
              <div class="justify-content-between text-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Download</button>
                  <a [routerLink]="[movie.id]" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
            <div class="collapse text-center" id="collapseExample">
              <div class="card-body pt-0">
                <div *ngFor="let torrent of movie.torrents" class="mt-1">
                  <a href="javascript:void(0)" class="badge badge-primary" style="cursor:pointer"
                    (click)="downloadTorrent(torrent, movie)">{{torrent.quality}} - {{torrent.type | uppercase}} - {{torrent.size}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="my-3" *ngIf="!isFetching && torrentRes && torrentRes.movie_count > 0">
    <!-- <button class="btn btn-primary" (click)="gotoNextpage(4)"> Next Page</button> -->
    <!-- <ngb-pagination [(page)]="2" [pageSize]="pageSize" [collectionSize]="movieCount"></ngb-pagination> -->
    <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="movieCount" [(page)]="pageNumber"
      aria-label="Default pagination"></ngb-pagination> -->
  </div>

</main>
